<!doctype html>
<html>
<head>
	<title>CS 340 Final Project</title>
	<link href="stylesheets/style.css" rel="stylesheet" type="text/css">
<meta charset="UTF-8">
</head>
<body>
	{{{body}}}
<script src="scripts/script.js"></script>
</body>
</html>

