<div id ="top_bar">
	<h3>Accessory Dashboard</h3>
</div>
    <p>
      <div id="create-container">
        <button id="add-accessory" class="button">Add Accessory</button>
        <button id="delete-animal-accessory" class="button">Remove Accessory from Animal</button>
        <button id="add-animal-accessory" class="button">Add Accessory to Animal</button>
      </div>
    <div>
        <table id="table-body" class="table">
        </table>
    </div>
    <p>
    <div>
        <table id="table-body-1" class="table">
        </table>
    </div>
<script src="scripts/accessory.js"></script>
