<div id ="top_bar">
  <h3>Animal Dashboard</h3>
</div>
<p>
<div>
  <label>View:</label> <br>
<input class="filter-form" type="radio" id="view-avail" value="view-avail"> Available Animals Only 
<br>
<input class="filter-form" type="radio" id="view-all" value="view-all"> All Animals
<p>
</div>
<div id="create-container">
<button id ="add-animal" class="button">Add Animal</button>
<button id="add-animal-type" class="button">Add Animal Type</button>
<button id="add-animal-breed" class="button">Add Animal Breed</button>
</div>
<div id="row_data">
        <table id = "table-body" class="table">
        </table>
</div>
<p>
<div>
    <table id="table-body-1" class="table">
    </table>
</div>
<script src="scripts/animal.js"></script>

