<div id="top_bar">
  <h3>Customer Dashboard</h3>
</div>
<p>
<div id="create-container">
<button id="add-customer" class="button">Add New Customer</button>
</div>
<div>
	<table id="table-body" class="table">
        </table>
</div>
<script src="scripts/customer.js"></script>
