<div><div><img src="images/header_img.jpg"></div>
<div class="topnav" width=100%><center>
  <a href="/">Home</a>
  <a href="/animal" target ="content">Animals</a>
  <a href="/reservation" target ="content">Orders</a>
  <a href="/accessory" target ="content">Accessories</a>
  <a href="/customer" target ="content">Customers</a>
  <a href="/staff" target ="content">Staff</a></center>

</div>
    <div padding=10px>
	<iframe height=800px width=100% name="content" style="border:0" src="/description">
</iframe></div>
