<div id ="top_bar">
        <h3>Staff Dashboard</h3>
    </div>
    <p>
    <div>
        View: 
        <div>
          <input class="form-check-input" type="radio" name="all-staff" id="all-staff" value="all-staff">
          <label class="form-check-label" for="all-staff">All</label>
        </div>
        <div>
          <input class="form-check-input" type="radio" name="current-staff" id="current-staff" value="current-staff">
          <label class="form-check-label" for="current-staff">Current Staff</label>
        </div>
        <div>
          <input class="form-check-input" type="radio" name="past-staff" id="past-staff" value="past-staff">
          <label class="form-check-label" for="past-orders">Past Staff</label>
        </div>
    </div>
    <div>
        
    <p>
        <div id="create-container">
          <button id="add-staff" class="button">Add Staff</button>
        </div>
        
    <div>
        <table id="table-body" class="table">
        </table>
    </div>
<script src="scripts/staff.js"></script>
